* {
    box-sizing: border-box;
}

body {
    align-content: center;
    background: rgb(4, 107, 47);
}

h1 {
    text-align: center;
    margin: 0px;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
main {
    display: flex;
    justify-content: center;
    gap: 10vmin;
    margin: 0px;
    font-size: 20px;
    color: white;
    font-family: 'Anton', sans-serif;
}

section {
    display: grid;
    grid-template-columns: 20vmin 20vmin;
    grid-template-rows: 30vmin 30vmin;
    gap: 5vmin;
    justify-content: center;
    font-size: 5vmin;
}
#war {
    visibility: hidden;
    display: grid;
    justify-content: center;
    height: 5vmin;
    width: 15vmin;
    margin-top: 5px;
    outline: none;
    border-radius: 5vmin;
    border-color:red;
    background-color: red;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Anton', sans-serif;

}
#play {
    display: grid;
    justify-content: center;
    height: 5vmin;
    width: 15vmin;
    margin-top: 5px;
    outline: none;
    border-radius: 5vmin;
    border-color: red;
    background-color:white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    box-shadow: 5px 10px 10px 5px black;
}

#replay {
    visibility: hidden;
    display: grid;
    justify-content: center;
    height: 5vmin;
    width: 15vmin;
    margin-top: 5px;
    outline: none;
    border-radius: 5vmin;
    border-color:red;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

footer {
    display: grid;
    grid-template-columns: 20vmin 20vmin;
    justify-content: center;  
    gap: 5px;
}

#pHandCards, #cHandCards {
    border: 0.1vmin solid black;
    box-shadow: 5px 10px 10px 5px black;
}

#pwar, #cwar {
    border: 0.1vmin solid black;
}

#cCardCount, #pCardCount {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}