* {
    box-sizing: border-box;
}

body {
    align-content: center;
    background: cornsilk;
}

h1 {
    text-align: center;
    margin: 0px;
    font-family: 'Anton', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    gap: 10vmin;
}

section {
    display: grid;
    grid-template-columns: 20vmin 20vmin;
    grid-template-rows: 35vmin 35vmin;
    gap: 5vmin;
    justify-content: center;
}

button {
    display: grid;
    justify-content: center;
    height: 4vmin;
    width: 40vmin;
    margin-top: 5px;
    outline: none;
    border-radius: 5vmin;
}

footer {
    display: grid;
    grid-template-columns: 20vmin 20vmin;
    justify-content: center;  
    gap: 5px;
}

#pHandCards, #cHandCards {
    background: rgb(34, 16, 199);
}

#pwar, #cwar {
    background: rgb(165, 157, 157);
}

