* {
    box-sizing: border-box;
}

body {
    align-content: center;
    background: white;
}

h1 {
    text-align: center;
    margin: 0px;
    font-family: 'Anton', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    gap: 10vmin;
    margin: 0px;
    /* border: 10vmin solid black; */
}

section {
    display: grid;
    grid-template-columns: 20vmin 20vmin;
    grid-template-rows: 30vmin 30vmin;
    gap: 5vmin;
    justify-content: center;
    font-size: 5vmin;
}

button {
    display: grid;
    justify-content: center;
    height: 4vmin;
    width: 40vmin;
    margin-top: 5px;
    outline: none;
    border-radius: 5vmin;
    border-color: red;
    background-color: white;
}

footer {
    display: grid;
    grid-template-columns: 20vmin 20vmin;
    justify-content: center;  
    gap: 5px;
}

#pHandCards, #cHandCards {
    /* background: rgb(34, 16, 199); */
    border: 0.1vmin solid black;
}

#pwar, #cwar {
    /* background: rgb(165, 157, 157); */
    border: 0.1vmin solid black;

}

